
<!--
  TODO:
    - Make all contents fill page vertically 
    - Make gap between line on the left and center text
    - Put navigation buttons in a horizontal row below center text
    - Put images in left div
-->

{% extends 'base.html' %}

{% block content %}
<footer class="container-fluid text-center">
  <p>Header</p>
</footer>

<div class="container-fluid text-center my-columns row content">    
  <div class="row content">

    <div class="col-sm-2 sidenav left-side">
      <p> LEFT COLUMN </p>
    </div> 

    <div class="col-sm-8 navbar-header"> 
      <!-- INSERT CENTRE COLUMN CONTENTS-->
        The Wedding of Sophie & Earl
    </div>
    <br>

    <div class="col-sm-2">
      <div class="well navbar-content bulletpoint-removal">
        <p><a href="{{ url_for('home') }}"> | Home | </a></p>
      </div>      
      <div class="well navbar-content bulletpoint-removal">
        <p><a href="{{ url_for('rspv') }}"> | RSPV | </a></p>
      </div>
      <div class="well navbar-content bulletpoint-removal">
        <p><a href="{{ url_for('location') }}"> | Location |</a></p>
      </div>
      <div class="well navbar-content bulletpoint-removal">
        <p><a href="{{ url_for('registry') }}"> | Registry |</a></p>
      </div>
      <!---
      <div class="well navbar-content bulletpoint-removal">
        <li><a href="{{ url_for('songrequests') }}"> | Song Requests | </a></li>
      </div>
      -->
    </div>

  </div>
</div>

<footer class="container-fluid text-center">
  <p>Footer</p>
</footer>
{% endblock content %}